*.iml
.idea
.gradle
/captures
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/fantasy/src/main/res/values/tempid.xml
/.idea/misc.xml
*.apk
*.aab
/gradle/wrapper/gradle-wrapper.properties
/app/schemas/com.etologic.mahjongscoring2.data.local_data_source.local.AppDatabase/1.json
app/release/output-metadata.json
